body {
    background-color: #333;
    color: #fff;
  }

  .dark-image {
    width: 33.33%;
    padding: 10px;
  }

  .dark-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
